body{
    background: #EEEEEE;
    color: black;
    /* font-family: 'Lobster', cursive; */
    
    
}

a:hover{
    text-decoration: none;
}


#loading{
    margin: 0 auto ;
    width: 100px;
}

.headingcontainer{
    height: 200px;
    width: 100%;
    background: #334257;
    text-align: center;
    color: white;
}

.headingcontainer h1 {
    font-family: 'Lobster', cursive;
    font-size: 50;
    margin-bottom: 2px;
    padding-top: 60px;
}



